.links {
    /* border: 2px solid paleturquoise; */
    width: 100%;
    height: 100%;
    /* align-items: end; */
}

/* .styled-links {
    display: grid;
    justify-content: end;
} */

.test {
    display: grid;
    justify-content: center;
    /* align-items: space-between; */
}

.test2 {
    display: flex;
    flex-direction: column;
    align-items: start;
    /* justify-content: end; */
}