.style-nav {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: end;
    width: 100%;
}

.home-style:hover,
.about-style:hover,
.contact-style:hover,
.project-style:hover {
    text-decoration: underline;
    color: lightblue
}

.link {
    color: rgb(255, 255, 255);
    margin: 20px;
}

.social-links {
    display: flex;
    justify-content: end;
}
