/* .navbar-fixed {
    position: sticky;
    top: 0; */
/* } */

.style-nav {
    display: flex;
    flex-direction: row;
    list-style: none;
    /* text-decoration: none; */
    justify-content: space-evenly;
    width: 100%;
    /* position: sticky;
    top: 0; */
    border: 2px solid red;
    background-color: rgba(34, 32, 32, 0.329);
}

.home-style:hover,
.about-style:hover,
.contact-style:hover,
.project-style:hover {
    text-decoration: underline;
    color: blue
}



.link {
    color: black;
}

