:root {
  --main-color: #000000;  /* Black */
  --highlight-color-1: #ffcc00;  /* Yellow */
  --highlight-color-2: #ff4d4d;  /* Red */
}


:root {
  --font-primary: 'Roboto', sans-serif;
  --font-secondary: 'Open Sans', sans-serif;
  --font-heading: 'Montserrat', sans-serif;
}


section {
  height: 850px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  text-align: center;
  font-family: Arial, sans-serif;
}

.main_background {
  background: #212121;

}