.body {
    margin: 0 !important;
    padding: 0 !important;
  }
  .element {
    height: 1000px;
    background-color: #ededed;
    font-size: 45px;
    border-top: 1px solid #000;
    padding-top: 55px;
    padding-left: 10px;
  }
  
  .element.no-padding {
    padding-top: 0;
  }
  
  /* .active {
    color: red !important;
  } */

  .hero-main {
    background-color: #ededed;
  }

  .project-main {
    background-color: #ededed;

  }

  .about-main {
    background-color: rgba(183, 0, 255, 0.678); 
  }

  .contact-main {
    background-color: rgba(183, 0, 255, 0.678); 

  }